/*Default values */

html, body{
  height: 100%;
  font-family: "Bahnschrift light";
  background-color: #efefef; 
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/* End of default values */

/* CSS for header */

#mainHeader {
  overflow: hidden;
  background-color: #000;
  padding: .5em 1em;  
}

#logo {
  max-width: 240px;
}

#mainHeader nav ul {
  padding: 0;
}

@media screen and (max-width: 768px) {
  #logo {
    margin: auto;
  }
  #mainHeader nav ul {
    margin: auto;
    max-width: 440px;
  }
}
@media screen and (min-width: 768px) {
  #logo {
    float: left;
  }
  #mainHeader nav ul {
    margin: 0;
    float: right;
  }
}

#mainHeader nav .active {
  background-color: #800;
}

#mainHeader nav ul li {
  display: inline-block;
  font-size: 1.25em;
  padding: 0.75em 1em 0.75em 1em;
  margin: none;
  color: white;
}

#mainHeader nav ul li:hover {
  cursor: pointer;
  background-color: #800;
}

/* End of CSS for header */

/* CSS for Aisle Page (P2) */

#aisleHeader {
  background-color: #800;
  color: white;
  text-align: center;
  font-size: 1.25em;
  border: 2px solid #000;
  margin: 1.25em 0em;
  padding: 1em;
}

#aisleHeader h1 {
  font-weight: bold;
}

#aisleSidebar {
  background-color: #fff;
  border: 2px solid #000;
  padding: 1.25em 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#aisleSidebar h2, #aisleProducts h2 {
  margin-bottom: 0;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #000;
  font-weight: bold;
}

#aisleSidebar nav .active {
  color: #800;
}

#aisleSidebar nav li {
  font-size: 1.125em;
}

#aisleSidebar nav li a:hover {
  color: #800;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.productContainer {
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  flex: 0 0 215px;
  padding: 1em;
}

.productContainer h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
}

.productContainer img {
  display: block;
  margin: auto;
  width: 100%;
  height: 150px;
}

.productContainer button {
  background-color: #800;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  padding: 0.3em;
}

@media screen and (max-width: 768px) {
  #aisleSidebar h2, #aisleProducts h2 {
    text-align: center;
  }
  #aisleSidebar nav {
    display: none;
  }
  #aisleSidebar nav ul {
    padding-left: 0px;
    margin-top: 1em;
  }
  #aisleSidebar nav li {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em;
    border-right: 1px solid #000;
  }
  #aisleSidebar:hover nav {
    display: block;
  }
  #aisleProducts {
    padding: 2em 0em;
  }
  .productContainer {
    margin: 2em 0 0 0;
  }
  .flex-container {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  #aisleSidebar {   
    float: left;
    width: 20%;
  }
  #aisleSidebar nav ul {
    padding-left: 0px;
    margin-top: 0.5em;
  }
  #aisleSidebar nav li {
    padding: 0.5em 0;
  }
  #aisleProducts {
    float: left;
    width: 80%;
    padding: 1.25em 0em 1.25em 5em;
  }
  .productContainer {
    margin: 2em 2em 0 0;
  }
}

.productContainer button, h3, img:hover {
  cursor: pointer;
}

/*End of CSS for P2 */