/*Default values */

html, body{
  height: 100%;
  font-family: "Bahnschrift light";
  background-color: #efefef; 
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1, h2, h3 {
  font-weight: bold;
}

/* End of default values */

/* CSS for header */

#mainHeader {
  background-color: #000;
  padding: .5em 1em;
}

#logo {
  max-width: 240px;
}

#mainHeader nav .active {
  background-color: #800;
}

#mainHeader nav a {
  display: inline-block;
  font-size: 1.25em;
  padding: 0.75em 1em 0.75em 1em;
  margin: none;
  color: white;
}

.dropbtn {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 0.75em 1em 0.75em 1em;
  font-size: 1.25em;
  border: none;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#mainHeader .dropdown .dropdown-content a {
  color: #000;
  float: none;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#mainHeader nav a:hover, .dropdown-content a:hover, .dropdown:hover .dropbtn {
  cursor: pointer;
  background-color: #800;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  #mainHeader {
    height: 140px;
  }
  #logo {
    margin: auto;
  }
  #mainHeader nav {
    margin: auto;
    width: 480px;
  }
  #mainHeader nav a, .dropdown {
    float: right;
  }
  .dropdown {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  #mainHeader {
    height: 75px;
  }
  #logo {
    float: left;
  }
  #mainHeader nav a, .dropdown {
    float: right;
  }
}

/* End of CSS for header */

/* CSS for Home Page */

.carousel-inner > .carousel-item > a >img {
      width:250px;
      height:360px;

    }

 .col > .card > a >  img {
  width:300px;
  height:360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  text-align: center;
}

#catTitle {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #800;
  font-family: "Bahnschrift light";
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.carousel-inner {
  padding-top: 2rem ;
}

/* End of CSS for home */

/* CSS for footer */

#mainFooter {
  overflow: hidden;
  background-color: #000;
  padding: 0.5em;
}

#mainFooter p {
  color: #949494;
  margin-top: 1em;
}

.ftMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 3em
}

.ftList li, .ftList a {
  color: #f4f4f4;
  line-height: 2em;
}

.ftList a:hover {
  color: #800;
}

@media screen and (max-width: 768px) { 
  .ftMain .ftList {
    flex: 50%;
  }
}

@media screen and (min-width: 768px) { 
  .ftMain .ftList {
    flex: 25%;
  }
}

/* End of CSS for footer */

/* CSS for Aisle Page (P2) */

#aisleHeader {
  background-color: #800;
  color: white;
  text-align: center;
  font-size: 1.25em;
  border: 2px solid #000;
  margin-top: 1.25em;
  padding: 1em;
}

#aisleHeader h1 {
  font-weight: bold;
}

#aisleSidebar {
  background-color: #fff;
  border: 2px solid #000;
  padding: 1.25em 2em;
  margin-top: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#aisleSidebar h2, #aisleProducts h2 {
  margin-bottom: 0;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #000;
}

#aisleSidebar nav .active {
  color: #800;
}

#aisleSidebar nav li {
  font-size: 1.125em;
}

#aisleSidebar nav li a:hover {
  color: #800;
}

#aisleProducts {
  margin-top: 1.5em;
}

.flex-productContainer {
  display: flex;
  flex-wrap: wrap;
}

.productContainer {
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  flex: 0 0 215px;
  padding: 1em;
}

.productContainer h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.productContainer img {
  display: block;
  margin: auto;
  width: 100%;
  height: 150px;
}

.productContainer button {
  background-color: #800;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  padding: 0.3em;
}

@media screen and (max-width: 768px) {
  #aisleSidebar h2, #aisleProducts h2 {
    text-align: center;
  }
  #aisleSidebar nav {
    display: none;
  }
  #aisleSidebar nav ul {
    padding-left: 0px;
    margin-top: 1em;
  }
  #aisleSidebar nav li {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em;
    border-right: 1px solid #000;
  }
  #aisleSidebar:hover nav {
    display: block;
  }
  #aisleProducts {
    padding: 2em 0em;
  }
  .productContainer {
    margin: 2em 0 0 0;
  }
  .flex-productContainer {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  #aisleSidebar {   
    float: left;
    width: 20%;
  }
  #aisleSidebar nav ul {
    padding-left: 0px;
    margin-top: 0.5em;
  }
  #aisleSidebar nav li {
    padding: 0.5em 0;
  }
  #aisleProducts {
    float: left;
    width: 80%;
    padding: 1.25em 0em 1.25em 5em;
  }
  .productContainer {
    margin: 2em 2em 0 0;
  }
}

/*End of CSS for P2 */

/*CSS for Product Description (P3)*/

#backButton:hover {
  cursor: pointer;
}

#backButton i {
  float: left;
  font-size: 1.4em;
  color: #800;
}

#backButton p {
  padding-left: 0.75em;
  font-size: 1.1em;
  color: #800;
}

#productDescription {
  overflow: hidden;
  margin: 5em auto;
  width: 70%;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#productDescription img {   
  height: 350px;
  padding: 1em; 
}

#productDescription #productInfo { 
  padding: 1em;
}

#productDescription #btSubmit {
  margin: 1em 0;
  background-color: #800;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  padding: 0.3em; 
}

@media screen and (max-width: 768px) {
  #productDescription {
    margin: 1.25em auto;
  }
  #productDescription img {
    width: 100%;
    display: block;
  }
  #productDescription #productInfo {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  #productDescription img {
    width: 50%;
    float: left;
  }
  #productDescription #productInfo {
    width: 50%;
    float: right;
  }
  #backButton p {
    float: left;
  }
}

/*End of CSS for P3*/

/* CSS for Cart P4 */

.WholePage{

	display: grid;
	grid-template-columns: 0.75fr 1fr 1fr;
	grid-template-rows:auto ;
	grid-template-areas: 
    "First Second Third  ";
    margin-top: 80px;
    margin-bottom:80px ;
  background-color: white !important;
}

.FirstPart{

	grid-area: First;

}
.title{
	font-size: 80px;
	text-align: center;
	font-weight: 500px;
}

.backtostore {
	display: inline-flex;
	flex-direction: row;
	margin-top: 80px;
	width: 30%;
	align-items: center;
	padding-left: 18px;
}

.link{
	text-decoration: none;
}

.backtostoretext{
	font-size: 18px;
	font-style: unset;
	font-weight: 100;
	color: black;
	text-decoration: none;
}

.SecondPart{
	grid-area: Second;
	display: grid;
	grid-template-columns: 0.3fr 1fr 1fr 1fr;
	grid-template-rows:2 ;
	grid-template-areas: 
    "button img name price "
    "button img Quantity price"
   	"button2 img2 name2 price2 "
    "button2 img2 Quantity2 price2"
    "line line line line"
    "empty empty updateButton updateButton";
    
}
.xbutton{
	grid-area: button;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;


}
.xbutton:hover{
	grid-area: button;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: red;
  	color: black;


}


.xbutton:active{
	grid-area: button;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: darkred;
  	color: white;


}


.Pimage{
	grid-area: img;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: auto;
}

.Pname{
	grid-area: name;
	align-self: center;
	justify-self: center;
}

.Pquantity{
	grid-area: Quantity;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

}

.PButton {
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;
}

.PButton:hover{
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: black;
  	color: white;


}


.PButton:active{
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;


}


.Mbutton {
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;
}

.Mbutton:hover{
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: black;
  	color: white;


}


.Mbutton:active{
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;


}

.Pprice{
	grid-area: price;
	justify-self: center;
	align-self: center;

}

.xbutton2{
	grid-area: button2;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;


}
.xbutton2:hover{
	grid-area: button2;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: red;
  	color: black;


}


.xbutton2:active{
	grid-area: button2;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: darkred;
  	color: white;


}


.Pimage2{
	grid-area: img2;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: auto;
}

.Pname2{
	grid-area: name2;
	align-self: center;
	justify-self: center;
	max-width: 10px;
}

.Pquantity2{
	grid-area: Quantity2;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

}

.PButton2 {
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;
}

.PButton2:hover{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: black;
  	color: white;


}


.PButton2:active{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;


}


.Mbutton2 {
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;
}

.Mbutton2:hover{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: black;
  	color: white;
}

.Mbutton2:active{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;


}

.Pprice2{
	grid-area: price2;
	justify-self: center;
	align-self: center;

}

.line{
	grid-area: line;
	border-bottom: solid 5px;
    border-color: black;
    margin: 0px;
    padding: 0px;
    height: 5px;
}

.Update{
	grid-area: updateButton ;
	margin-top: 10px;
	height: 40px;
	background-color: black;
	color: white;
	border-color: black;
	border-width: 3px;

}

.Update:hover{
	grid-area: updateButton ;
	margin-top: 10px;
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 2px;
	border-color: black;
	cursor: pointer;


}
.Update:active{
	grid-area: updateButton ;
	margin-top: 10px;
	height: 40px;
	background-color: white;
	color: black;
	border-radius: 2px;
	border-color: black;
	cursor: pointer;


}

.ThirdPart{
	background-color: white;
	margin-left: 10px;
	grid-area: Third;
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:80px 30px 30px 30px 80px  ;
	grid-template-areas: 
    "total total numberofitems numberofitems "
    "sub sub subamount subamount"
    "qst qst qstamount qstamount"
    "gst gst gstamount gstamount"
    "Total Total Totalamount Totalamount"
    "checkout checkout checkout checkout";
}
.totaltitle{
	grid-area:total ;
	padding-top: 18px;
	height: 30px;
	justify-self: center;
}

.itemstotal{
	grid-area: numberofitems;
	padding-top: 29px;
	height: 30px;
	justify-self: left;
}

.subtext{
	grid-area: sub;
	justify-self: center;
}
.Amounttext{
	grid-area: subamount;
	justify-self: left;
}

.QSTtext{
	grid-area: qst;
	justify-self: center;
}

.QSTamount{
	grid-area:qstamount ;
	justify-self: left;
}

.GSTtext{
	grid-area: gst;
	justify-self: center;
}

.GSTamount{
	grid-area:gstamount ;
	justify-self: left;
}

.totaltext{
	grid-area: Total;
	padding-top: 20px;
	font-size: 25px;
	font-weight: 800;
	justify-self: center;
}

.totalamount{
	grid-area:Totalamount ;
	padding-top: 20px;
	font-size: 25px;
	font-weight: 800;
	justify-self: left;


}
.Checkout{
	grid-area: checkout ;
	margin-top: 10px;
	height: 40px;
	background-color: black;
	color: white;
	border-color: black;
	border-width: 3px;
    width: 70%;
    justify-self: center;

}

.Checkout:hover{
	grid-area: checkout ;
	margin-top: 10px;
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 2px;
	border-color: black;
	cursor: pointer;
	width: 70%;
	justify-self: center;
}
.Checkout:active{
	grid-area: checkout ;
	margin-top: 10px;
	height: 40px;
	background-color: white;
	color: black;
	border-radius: 2px;
	border-color: black;
	cursor: pointer;
	width: 70%;
	justify-self: center;

}

@media (max-width:700px){

.WholePage{

	display: grid;
	grid-template-columns: auto;
	grid-template-rows:1fr 1fr 1fr ;
	margin-top: 0px;
	grid-template-areas: 
    "First "
    "Second "
    "Third  ";
}


.FirstPart{

	grid-area: First;

}

.SecondPart{
	grid-area: Second;
	display: grid;
	grid-template-columns: 0.3fr 1fr 1fr 1fr;
	grid-template-rows:auto ;
	grid-template-areas: 
    "button img name price "
    "button img Quantity price"
   	"button2 img2 name2 price2 "
    "button2 img2 Quantity2 price2"
    "line line line line"
    "empty empty updateButton updateButton";  
}

.ThirdPart{
	grid-area: Third;
	display: grid;
	grid-template-columns:1fr 1fr 1fr ;
	grid-template-rows:80px 30px 30px 30px 80px  ;
	grid-template-areas: 
    "total total numberofitems  "
    "sub sub subamount "
    "qst qst qstamount "
    "gst gst gstamount "
    "Total Total Totalamount "
    "checkout checkout checkout ";
    padding: 0px 0px 0px 0px;
    margin-top: 20px;
    height: 1fr;
}

.Checkout{
	grid-area: checkout ;
	margin-top: 10px;
	height: 40px;
	background-color: black;
	color: white;
	border-color: black;
	border-width: 3px;
    width: 70%;
    justify-self: center;
}

.Checkout:hover{
	grid-area: checkout ;
	margin-top: 10px;
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 2px;
	border-color: black;
	cursor: pointer;
	width: 70%;
	justify-self: center;


}
.Checkout:active{
	grid-area: checkout ;
	margin-top: 10px;
	height: 40px;
	background-color: white;
	color: black;
	border-radius: 2px;
	border-color: black;
	cursor: pointer;
	width: 70%;
	justify-self: center;
}


.backtostore {
	
	margin-top: 0px;
	
}

.title{
	margin-bottom: 10px;
}


.xbutton:hover{
	grid-area: button;
	height: 20px;
	width: 20px;
	align-self: center !important;
	justify-self: center !important;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;


}

.PButton:hover{
		grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;


}

.Mbutton:hover{
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;

}

.xbutton2:hover{
	grid-area: button2;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;
}

.PButton2:hover{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;


}

.Mbutton2:hover{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: white;
  	color: black;


}
.Mbutton2:active{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;


}

.xbutton:active{
	grid-area: button;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: darkred;
  	color: white;


}

.PButton:active{
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;


}

.Mbutton:active{
	grid-area: button;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;


}

.xbutton2:active{
	grid-area: button2;
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: darkred;
  	color: white;


}

.PButton2:active{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;


}
  
.Mbutton2:active{
	grid-area: button2;
	height: 30px;
	width: 30px;
	align-self: center;
	justify-self: center;
	border-radius: 50%;
	border-color: black;
	border-width: 1px;
	background-color: #4f4b4b;
  	color: white;
}

}

/* End of CSS for P4 */

/* CSS for Login P5 */

.login{
	text-align:center;
	color:black;
  background-color:#fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
  flex: 0 0 215px;
  padding: 1em;
}.flex-login{
  display: flex;
  flex-wrap: wrap;
}
.login a{
	color:black;
	text-decoration: none;
}
.button{
	background-color: black;
	border: none;
	color: white;
	padding: 5px 32px;
	text-align: center;
	text-decoration:none;
}
large{
	color: #800;
}

/*End of CSS for P5*/

/* CSS for Sign up P6 */

.btnsignin {
    font-family: arial;
    float: left;
    background-color: black;
    color: white;
    margin-top: 35px;
    margin-left: 325px;
    border-radius: 5px;
    width: 300px;
    height: 35px;
}

.btnsignin:hover {
    background-color: gray;
    cursor: pointer;
    transition: ease all 1s;
}

.btnsignin:active {
    transform: translate(5px, 5px);
}

.btnlogin {
    margin-top: 8px;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

#checkbox1 {
    width: 20px;
    height: 20px;
    margin-top: 35px;
    margin-left: 22px;
    float: left;
}

.signinimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.signinimgtxt {
    margin-left: 70px;
    margin-top: -33px;
    float: left;
    font-family: arial;
}

.bx {
    width: 50px;
    float: left;
    text-align: center;
    height: 50px;
}

.outerbox {
    background-color: #f0f0f0;
    width: 550px;
    height: 500px;
    box-shadow: 0px 0px 5px 5px black;
    margin-left: 480px;
    padding: 10px;
    width: 960px;
    position: relative;
    margin: 0 auto;
    line-height: 1.4em;
    margin-top: 100px;
    margin-bottom: 83px;
}

.registerouterbox {
    background-color: #f0f0f0;
    width: 800px;
    height: 1180px;
    margin: auto;
    font-family: "roboto-light", "Arial", "Helvetica", "Sans-serif";
    font-size: 20px;
    margin-top: 80px;
    font-weight: lighter;
    padding: 10px;
    line-height: 0.7;
    box-shadow: 0px 0px 5px 5px black;
}

.registerouterbox1 {
    margin: auto;
    background-color: white;
    height: 172px;
    width: 780px;
    padding: 0px;
    border-radius: 1%;
}

.registerouterbox2 {
    margin: auto;
    background-color: white;
    height: 870px;
    width: 780px;
    padding: 0px;
    border-radius: 1%;
}

.categories1 {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.selectcategory1 {
    margin-left: 20px;
    font-family: arial;
    width: 120px;
    height: 35px;
}

.categories2 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.input1 {
    margin-left: 20px;
    width: 300px;
    height: 30px;
    margin-top: 2px;
    float: left;
    font-size: 15px;
}

.input2 {
    margin-left: 91px;
    width: 300px;
    height: 30px;
    margin-top: 2px;
    float: left;
    font-size: 15px;
}

.whiteline {
    background-color: white;
    width: 820px;
    height: 20px;
    margin-left: -10px;
    padding: 0px;
}

.input3 {
    margin-left: -90px;
    width: 725px;
    height: 45px;
    font-size: 20px;
}

.categories3 {
    font-size: 15px;
    margin-top: 85px;
    margin-left: 20px;
    float: left;
}

.input4 {
    margin-left: 20px;
    width: 725px;
    height: 45px;
    font-size: 20px;
}

.categories4 {
    font-size: 20px;
    margin-top: 35px;
    margin-left: 20px;
    float: left;
}

.input5 {
    margin-left: 20px;
    height: 45px;
    width: 303px;
    font-size: 20px;
}

.selectcategory2 {
    margin-top: -51.5px;
    float: right;
    margin-right: 280px;
    height: 50px;
    width: 78px;
}

.selectcategory3 {
    margin-left: 20px;
    height: 50px;
}

.input6 {
    float: right;
    margin-right: 148px;
    height: 45px;
    width: 200px;
    font-size: 20px;
}

.categories5 {
    font-size: 15px;
    margin-top: 32px;
    margin-left: 20px;
    float: left;
}

.input7 {
    margin-left: 20px;
    float: left;
    height: 45px;
    width: 303px;
    font-size: 20px;
}

.input8 {
    font-size: 20px;
    margin-right: 46px;
    float: right;
    margin-top: -13px;
    height: 45px;
    width: 303px;
}

.input9 {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    font-size: 20px;
    height: 45px;
    width: 303px;
}

.input10 {
    margin-right: 46px;
    float: right;
    margin-top: -3px;
    height: 45px;
    width: 303px;
    font-size: 20px;
}

.input11 {
    margin-left: -310px;
    margin-top: 75px;
    width: 303px;
    height: 46px;
    font-size: 20px;
}

.input12 {
    margin-left: -160px;
    margin-top: 30px;
    width: 303px;
    height: 46px;
    font-size: 20px;
}

.whitelinebottom {
    width: 1000px;
    height: 20px;
    margin-left: 230px;
    padding: 0px;
    margin-bottom: 120px;
    float: left;
    margin-top: 100px;
}

.createaccountbutton {
    width: 150px;
    height: 50px;
}

.resetbutton {
    width: 150px;
    height: 50px;
    margin-left: 20px;
}

.a {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    display: flex;

}

.b {
    width: 60%;
    height: 500px;
    background-color: white;
    margin-left: 100px;
}

.b1 {
    width: 40%;
    height: 500px;
    background-color: white;
}

.b1 img {
    width: 70%;
    height: 500px;
    margin-left: 90px;
}

.c {
    font-family: arial;
    color: gray;
    margin-top: 20px;
    margin-left: 20px;
}

.d {
    font-family: arial;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 550;
    font-size: 25px;
}

.e {
    font-family: arial;
    color: gray;
    margin-top: 7px;
    margin-left: 20px;
}

.f {
    font-family: arial;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 550;
    font-size: 25px;
}

.g {
    background-color: black;
    color: white;
    font-family: arial;
    width: 150px;
    padding: 15px;
    height: 18px;
    font-size: 15px;
    margin-top: 40px;
    text-align: center;
    margin-left: 20px;
    border-radius: 8px;
    cursor: pointer;
    float: left;
}

.g:hover {
    background-color: gray;
}

.g:active {
    transform: translate(4px, 4px);
}

.h {
    font-family: arial;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 550;
    font-size: 20px;
}

.i {
    color: black;
    font-family: arial;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
}



.j {
    margin-left: 285px;
    cursor: pointer;
}

.k {
    margin-left: 315px;
    margin-top: -17px;
    cursor: pointer;
    float: left;
}

.main-area {
    height: 100%;
    /* background-color: #d7e0d9;*/
    padding: 75px 15px 88px 15px;
    text-align: center;
}

.item {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.item-image {
    width: 100%;
    display: block;
}

.item-content {
    line-height: 1.5;
    font-size: 19px;
    padding: 15px;
    background: #fafafa;
    border-top: 1px solid black;
}

.item-content>p:last-of-type {
    font-size: 13px;
}

.item-buttons {
    text-align: center;
    padding: 10px 0 15px 0;
    background: #fafafa;
}

.add-button {
    border: none;
    border-radius: 10px;
    background-color: #26282b;
    color: white;
    padding: 6px 16px 6px 16px;
}

.add-button:hover {
    background-color: #464a54;
}

.material-icons {
    color: black;
    margin-left: auto;
}

.quantity {
    width: 30px;
    padding: 9px;
}

.decrement,
.increment {
    background-color: #17181c;
    color: white;
    padding: 9px;
    cursor: pointer;
}

/*End of CSS for P6*/

/*CSS for Product List P7*/

#backendHeader {
  background-color: #b5b5b5;
  text-align: center;
  font-size: 1.25em;
  border: 2px solid #000;
  margin-top: 1.25em;
  padding: 1em;
}

#productTable {
  margin: 4em auto 2em auto;
  width: 70%;
}

#productTable th { 
  font-size: 1.5em;
  text-align: center;
  border-bottom: 2px solid #000;
}

#productTable td { 
  font-size: 1.25em;
  text-align: center;
  padding: 0.5em 0;
}

#productTable button {
  border: none;
}

@media screen and (max-width: 768px) {
  #productTable th {
    min-width: 3em;
  }
  #productTable td {
    min-width: 3em;
  }
}

@media screen and (min-width: 768px) {
  #productTable td {
    min-width: 5em;
  }
}

#bt_save {
  display: block;
  margin: 2em auto;
  width: 10em;
  font-size: 1.25em;
  background-color: #800;
  color: #fff;
  padding: 0.3em;
}

/*End of CSS for P7*/

/* CSS for P9 User List */

.titlecontainer{
	display: grid;
	grid-column: 1fr 0.1fr 1fr ;
	grid-row: 1fr 1fr;

	grid-template-areas: "title AddingTitle ";
	
}
.P9-title{
	grid-area: title;
	font-family: 'Open Sans', sans-serif;
	justify-self: center;
}


.Add{
	grid-area: add;
	margin-top: 22px;
}
.AddingTitle{
	display: inline-flex;
	grid-area: AddingTitle;
}

.AddingTitle p{
	padding-top: 20px;
    padding-left: 5px;
    }

.Table{
	display: grid;
	margin-left: 20%;
	margin-right: 20%;
	grid-column: 2fr 1fr 1fr 1fr;
	grid-auto-columns: 2fr 1fr 1fr 1fr;
	grid-template-areas: "username id edit delete";

}

.NameTitle{
	grid-area: username;
	font-size: 25px;
	background-color: black;
	padding: 10px 10px 10px 10px;
	color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius:10px ;
}

.id{
	grid-area: id;
	font-size: 25px;
	background-color: black;
	padding: 10px 10px 10px 10px;
	color: white;
}

.EditTitle{
	grid-area: edit;
	font-size: 25px;
	background-color: black;
	padding: 10px 10px 10px 10px;
	color: white;
}



.DeleteTitle{
	grid-area: delete;
	font-size: 25px;
	background-color: black;
	padding: 10px 10px 10px 10px;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius:10px ;

}

.Username .Id{
	font-size: 15px;
	padding-left: 2%;
	
}

.delete .edit{
	width: 25px;
	height: 25px;
	padding-left: 10px;
	padding-top: 10px;
}

.retrunB{
	
}
.retrunBC{
	display: inline-flex;
	padding-left: 10%;
}

.back-arrow-img{
	padding: 15px 3px 0px 0px; 
    width: 25px;
	height: 25px;
	padding-left: 10px;
	padding-top: 10px;
}


@media (max-width:700px){

.Table{
	
	margin-left: 5%;
	margin-right: 5%;	

}

}

/* End of CSS for P9*/

/* CSS for User Edit P10 */

.userContainer{
  background-color:#fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
  flex: 0 0 215px;
  padding: 1em;
  text-align: center;
}
.flex-userContainer{
  display: flex;
  flex-wrap: wrap;
}
.userContainer button {
  background-color: black;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  padding: 0.3em;
}

/* End of CSS for P10 */