/*Default values */

html, body{
  height: 100%;
  font-family: "Bahnschrift light";
  background-color: #efefef; 
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1, h2, h3 {
  font-weight: bold;
}

/* End of default values */

/* CSS for header */

#mainHeader {
  background-color: #000;
  padding: .5em 1em;
}

#logo {
  max-width: 240px;
}

#mainHeader nav .active {
  background-color: #800;
}

#mainHeader nav a {
  display: inline-block;
  font-size: 1.25em;
  padding: 0.75em 1em 0.75em 1em;
  margin: none;
  color: white;
}

.dropbtn {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 0.75em 1em 0.75em 1em;
  font-size: 1.25em;
  border: none;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#mainHeader .dropdown .dropdown-content a {
  color: #000;
  float: none;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#mainHeader nav a:hover, .dropdown-content a:hover, .dropdown:hover .dropbtn {
  cursor: pointer;
  background-color: #800;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  #mainHeader {
    height: 140px;
  }
  #logo {
    margin: auto;
  }
  #mainHeader nav {
    margin: auto;
    width: 480px;
  }
  #mainHeader nav a, .dropdown {
    float: right;
  }
  .dropdown {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  #mainHeader {
    height: 75px;
  }
  #logo {
    float: left;
  }
  #mainHeader nav a, .dropdown {
    float: right;
  }
}

/* End of CSS for header */

/* CSS for Home Page */

.carousel-inner > .carousel-item > a >img {
      width:250px;
      height:360px;

    }

 .col > .card > a >  img {
  width:300px;
  height:360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  text-align: center;
}

#catTitle {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #800;
  font-family: "Bahnschrift light";
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.carousel-inner {
  padding-top: 2rem ;
}

/* End of CSS for home */

/* CSS for footer */

#mainFooter {
  overflow: hidden;
  background-color: #000;
  padding: 0.5em;
}

#mainFooter p {
  color: #949494;
  margin-top: 1em;
}

.ftMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 3em
}

.ftList li, .ftList a {
  color: #f4f4f4;
  line-height: 2em;
}

.ftList a:hover {
  color: #800;
}

@media screen and (max-width: 768px) { 
  .ftMain .ftList {
    flex: 50%;
  }
}

@media screen and (min-width: 768px) { 
  .ftMain .ftList {
    flex: 25%;
  }
}

/* End of CSS for footer */

/* CSS for Aisle Page (P2) */

#aisleHeader {
  background-color: #800;
  color: white;
  text-align: center;
  font-size: 1.25em;
  border: 2px solid #000;
  margin-top: 1.25em;
  padding: 1em;
}

#aisleHeader h1 {
  font-weight: bold;
}

#aisleSidebar {
  background-color: #fff;
  border: 2px solid #000;
  padding: 1.25em 2em;
  margin-top: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#aisleSidebar h2, #aisleProducts h2 {
  margin-bottom: 0;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #000;
}

#aisleSidebar nav .active {
  color: #800;
}

#aisleSidebar nav li {
  font-size: 1.125em;
}

#aisleSidebar nav li a:hover {
  color: #800;
}

#aisleProducts {
  margin-top: 1.5em;
}

.flex-productContainer {
  display: flex;
  flex-wrap: wrap;
}

.productContainer {
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  flex: 0 0 215px;
  padding: 1em;
}

.productContainer h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.productContainer img {
  display: block;
  margin: auto;
  width: 100%;
  height: 150px;
}

.productContainer button {
  background-color: #800;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  padding: 0.3em;
}

@media screen and (max-width: 768px) {
  #aisleSidebar h2, #aisleProducts h2 {
    text-align: center;
  }
  #aisleSidebar nav {
    display: none;
  }
  #aisleSidebar nav ul {
    padding-left: 0px;
    margin-top: 1em;
  }
  #aisleSidebar nav li {
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em;
    border-right: 1px solid #000;
  }
  #aisleSidebar:hover nav {
    display: block;
  }
  #aisleProducts {
    padding: 2em 0em;
  }
  .productContainer {
    margin: 2em 0 0 0;
  }
  .flex-productContainer {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  #aisleSidebar {   
    float: left;
    width: 20%;
  }
  #aisleSidebar nav ul {
    padding-left: 0px;
    margin-top: 0.5em;
  }
  #aisleSidebar nav li {
    padding: 0.5em 0;
  }
  #aisleProducts {
    float: left;
    width: 80%;
    padding: 1.25em 0em 1.25em 5em;
  }
  .productContainer {
    margin: 2em 2em 0 0;
  }
}

/*End of CSS for P2 */

/*CSS for Product Description (P3)*/

#backButton:hover {
  cursor: pointer;
}

#backButton i {
  float: left;
  font-size: 1.4em;
  color: #800;
}

#backButton p {
  padding-left: 0.75em;
  font-size: 1.1em;
  color: #800;
}

#productDescription {
  overflow: hidden;
  margin: 5em auto;
  width: 70%;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#productDescription img {   
  height: 350px;
  padding: 1em; 
}

#productDescription #productInfo { 
  padding: 1em;
}

#productDescription #btSubmit {
  margin: 1em 0;
  background-color: #800;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  padding: 0.3em; 
}

@media screen and (max-width: 768px) {
  #productDescription {
    margin: 1.25em auto;
  }
  #productDescription img {
    width: 100%;
    display: block;
  }
  #productDescription #productInfo {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  #productDescription img {
    width: 50%;
    float: left;
  }
  #productDescription #productInfo {
    width: 50%;
    float: right;
  }
  #backButton p {
    float: left;
  }
}

/*End of CSS for P3*/

/*CSS for Product List P7*/

#backendHeader {
  background-color: #b5b5b5;
  text-align: center;
  font-size: 1.25em;
  border: 2px solid #000;
  margin-top: 1.25em;
  padding: 1em;
}

#productTable {
  margin: 4em auto 2em auto;
  width: 70%;
}

#productTable th { 
  font-size: 1.5em;
  text-align: center;
  border-bottom: 2px solid #000;
}

#productTable td { 
  font-size: 1.25em;
  text-align: center;
  padding: 0.5em 0;
}

#productTable button {
  border: none;
}

@media screen and (max-width: 768px) {
  #productTable th {
    min-width: 3em;
  }
  #productTable td {
    min-width: 3em;
  }
}

@media screen and (min-width: 768px) {
  #productTable td {
    min-width: 5em;
  }
}

#bt_save {
  display: block;
  margin: 2em auto;
  width: 10em;
  font-size: 1.25em;
  background-color: #800;
  color: #fff;
  padding: 0.3em;
}

/*End of CSS for P7*/