.userContainer{
  boarder: 2px solid #000;
  background-color:#fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.29);
  flex: 0 0 215px;
  padding: 1em;
}
.flex-userContainer{
  display: flex;
  flex-wrap: wrap;
}
.userContainer button {
  background-color: black;
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  padding: 0.3em;
}
body{
  text-align: center;
}
form{
  display: inline-block
}
large{
  color:#800
}
